body {
  background: url(src\assets\images\e6.jpg) no-repeat;
  -moz-background-size: 100%; 
  -webkit-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  
}
.container {
  width: 100%;
  max-width: 1024px; 
  padding: 0 15px;
  margin: 0 auto;
}
