<body>
<div class="images">
<div class="img1">
<img src="assets/images/b1.jpg">
<p [ngClass]="{ segoePrintFont: true }">
Согласно астрологам: каким трем знакам зодиака особенно повезет на этой неделе? 22 — 28 февраля
</div>
<div class="img2">
<img src="assets/images/b2.jpg">
<p [ngClass]="{ segoePrintFont: true }">
Назад дороги нет: Гарри и Меган официально объявили, что больше не вернутся к королевским обязанностям
</div>
<div class="img3">
<img src="assets/images/b3.jpg">
<p [ngClass]="{ segoePrintFont: true }">
Только о хорошем: почему мужчины позитивнее относятся к бывшим
</div>
</div>
<div class="news2">
<div class="container_slider_css">
    <img class="photo_slider_css" src="assets/images/k1.jpg">
    <img class="photo_slider_css" src="assets/images/k2.jpg">
    <img class="photo_slider_css" src="assets/images/k3.jpg">
    <img class="photo_slider_css" src="assets/images/k4.jpg">
   </div>

   
   <div class="place">
    <div [ngClass]="{ verdanaFont: true }">
        <h1><em>Fashion style</em></h1>
        <p [ngClass]="{ segoePrintFont: true }">
            "Золотой глобус-2021" лучшие образы
        </p>
      </div>
      </div>
</div>
</body>