table {
	width: 60%;
    border: 5px solid #fff;
    border-collapse: collapse;
}
input {
background-color:#0692bd;
color:#fff;
padding-left: 7px;
padding-right: 7px;;
padding-top: 7px;
padding-bottom: 7px;
border-radius: 5px;
letter-spacing: 0.5px;
border-color:#03c4ff;
}
th {
	padding: 12px 55px 12px 5px;
	background: #efefef;
    text-align: left;
    
}
td { 
    
	padding: 10px;
    text-align: right;

}
tr {
    border: 1px solid #efefef;
}
