
<html>
    <head>
        <meta charset="UTF-8">
    </head>
        <body>
            <form>
<h2>Add record</h2>
<div class='f'>
        <label for="name1">Jogging date:</label><br>
        <input type="text" id="name1" name="name1" value="mm/dd/yyyy"><br>
        <label for="name2">Distance (m):</label><br>
        <input type="text" id="name2" name="name2" value="0"><br>
        <label for="name2">Time (s):</label><br>
        <input type="text" id="name2" name="name2" value="0"><br>
        <button id="butf">Save</button>
    </div>
</form>
</body>
</html> 