<body>
    <div class="images">
    <div class="img1">
    <img src="assets/images/c1.jpg" width="320px" height="400px;">
    <p [ngClass]="{ segoePrintFont: true }">
    Платье из миллиона осколков: Бейонсе показала свой образ на афтепати "Грэмми"
    </div>
    <div class="img2">
    <p [ngClass]="{ segoePrintFont: true }">
    <img src="assets/images/c2.jpg" width="320px" height="400px;">
     Выгодный союз: носите два клетчатых принта так же,как это делает Кэти Холмс
    </div>
    <div class="img3">
      <p [ngClass]="{ segoePrintFont: true }">
    <img src="assets/images/c3.jpg" width="320px" height="400px;">
     Тиффани Хсу в платье,которое во всем мире распродали за 5 минут
    </div>
    <div class="img4">
      <p [ngClass]="{ segoePrintFont: true }">
        <img src="assets/images/c4.jpg" width="320px" height="400px;">
        Красота в ее глазах: женщины -фотографы о своем восприятии женственности
        </div>
    </div>
   
      <div class="images">
        <div class="img1.1">
        <img src="assets/images/n1.jpg" width="320px" height="400px;">
              <p [ngClass]="{ segoePrintFont: true }">
            Курс на завтра.Массимилиано Джорнетти-о бесполой моде и чувственности русского культурного наследия      
        </div>
        <div class="img2.2">
        <img src="assets/images/n2.jpg" width="680px" height="400px;">
        <p [ngClass]="{ segoePrintFont: true }">
         Ну копия мамы:дочь Ким Кардашьян повторила бьюти-образ мамы
          
        </div>
        <div class="img3.3">
            <img src="assets/images/s4.jpg" width="320px" height="400px;">
            <p [ngClass]="{ segoePrintFont: true }">
             6 молодых корейских брендов,которые вам понравятся
            </div>
        </div> 
